body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto; /*definim numerele de colane si dimensiunile acesteia */
    background-color: yellow;
    padding: 10px;
}

.grid-item{
    background-color:  burlywood;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}