body {
    background-color: azure;
}

p {
    color: brown;
    font-style: italic;
}

h1{
    color: chartreuse;
}

#paragraf1{
    color: blue;
}

#paragraf2{
    color: red;
}

/*deoarece paragraful1 are un id care este cel mai puternic suprasrie codul la la p*/
/*OBS!! se aplica regula cascading = regula se aplica de sus in jos 
adica cum merge fisierul de la pirima la ultima linie asa se aplica si regulile 
pe care noi le-am dat 
la p am spacificat forma literelor si culoare
la paragraf1 de tip id am specificat culoare la albastru 
dearece id este mai puternic se schimba culoare dar stylibgul nu pentru ca nu am specificat alt styling */

#paragraf1{
    color: black;
}

/* observam ca paragraf1 se schimba la cularea neagra datorita reguli cascade*/

/*ATENTIE DECLARAREA SE FACE DOAR O DATA SI ID-UL TREBUIE SA FIE UNIC AICI AM DAT DOAR UN EXEMPLU*/
/*https://www.w3schools.com/cssref/css_selectors.php*/

