/*h1{
    color: red;
}
/*observam ca taote elementele de tip h1 se schimba in rosu

h3{
    color: red;
}
*/

/*obesrvam ca in interiorul h1-lui si al h2 este acelas lucu adica avem un cod repititiv 
care nu este un lucru bun deeacea putem defini in felul uramator: */
h1, h3{
    color: red;
}

h2{
    height: 100px;
    opacity:0.3;
    color: green;
}
/*observam ca taote elementele de tip h2 se schimba in verde*/

p{
    color: blue;
}
/*observam ca taote elementele de tip p se schimba in albastru*/

.text-bold{
    font-weight: bold;
}
/*referirea la o clasa se face cu punt si dupa scriem numele clasei*/

#red{
    color: red;
}
/*referire la un id se face cu # si dupa scriem numele */

.paragraf-green{
    color: green;
    font-weight: bold;
}

.blue{
    color: blue;
}

div > p {
    color: orange;
    border: 4px dotted red; 
}
/*pentru descendentii divului aplica urmatoarele reguli
obs se aplica regula doar la paragraful unde nu am specificat o alat clasa su id */

#par{
    font-size: 50px;
}

.image{
    background-image: url(Smiley.svg.png);
    background-repeat: repeat-y;  
    background-position:top right;
    background-attachment: fixed;
}

.paragraf{
    /*  color: rgba(red, green, blue) ; numerele merg de la 0 pana la 255*/
    color: rgba(red, green, blue, alpha) ; 
    background-color: lightgreen; 
    text-align: center; /*textu o sa fie centrat */
    text-decoration: underline; /*textul nostru o sa aiba o linie deasupra*/
}

#paragraf2{
    text-decoration: none;
    text-transform:uppercase; /*face modificari pe text*/
    text-indent: 20px; /*afisarea paragrafului in pagina*/
    letter-spacing: 5px; /*spatii intre litere*/
    line-height: 50px; /*spatii intre linii*/   
    word-spacing: 10px; /*distanta dintr-e cuvinte*/
    text-shadow: 3px 2px black; /*adaugarea umbrei*/
}

#paragraf3{
    font-family: Arial, Helvetica, sans-serif; /*schimba diseinul literelor*/
    /*daca dintr-un motiv nu merege ariel atunci o sa aplice helvetica si daca ninci asta nu megre atunci o sa foloseasca sans-serif*/
    /*obs! fonturile pe care le-am dat trebuie sa se asemene , ca userul sa nu isi dea seama ca un font nu sa incarcat*/
    font-size: 20px; /*setam marimea fontului  sau putem da si in em , 1em = 16px */
    font-style: oblique;
    font-weight: 700;
    font-variant:small-caps;
}

a:hover{
    color: red; /*in momentul ala cand mausul este pe link ala devini rosu*/
}
