h1{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}

table, td,th{
    border:1px solid #ddd; /*adauga o margine*/
    border-collapse: collapse; /*dispare duplicare de linii*/
}

#mytable{
    width: 100%;
}

th,td{
    padding: 10px;
    text-align: center;
}

.lastcolumn, td:last-child{  /*modifica toate td-urile de la final , adica ultima coloana */
    text-align: right;
}

#tableheader{
    background-color: blueviolet;
}

#tableheader > th{
    padding: 20px  10px;
}

tr:nth-child(even){  /*numarul din interiorul()- esta numarul randului , sau daca vrem sa fie mai dinamic even= cu randurile pare*/
    background-color: aqua;
}

tr:hover{  /*hover= cu acel evenimet cand cursorul este deasupra unui elemnet */
    background-color: chartreuse;
}







