body{
    font-family: Arial, Helvetica, sans-serif;
}

.square{
    height: 180px;
    width: 180px;
    background-color: aquamarine;
    margin: 10px;
    /* display: inline-block; ocupa chair atata loc cat are el nevoie */
}

#block0{
    background-color: blue;
    /* display: block; ocupa intreaga linie*/
    display: none; /*se sterge de pe pagina */
    /* visibility: hidden; - dispare continutul de pe pagina */
}

#block1{
    background-color: green;
    position: relative;
}

#block2{
    background-color: red;
    position: fixed; /*se pozitioneasa fix- unde noi ii zicem si nu are nici o legatura 
                        cu elementele pe care le mai are html-ul , asadar el este scos din context*/
    bottom: 10px;
    right: 10px;
}

#block3{
    background-color: blue;
    height: 20px;
    width: 20px;
    margin: 0;
    position: absolute; /*cauta un element la care poate faca relativa pozitionarea absoluta */
    top: 0; /*putem da si numere negative astfel o sa iasa din marginea care noi o avaem*/
    left: 0;
}

#block4{
    background-color: brown;
    position: sticky; /*nu pleaca de acolo*/
    top: 10px;
    z-index: 10;
    opacity: 0.5; /*culoare se face mai transparenta sa putem vedea elementele care se afla dedesuptul ei*/
}

#block5{
    background-color: chartreuse;
    /* overflow: scroll;dextul din interior este facut ca un scroll*/
   /* overflow: hidden; apare doar texul partial , adica doar atat cat ii permite spaciul*/
  overflow-y: scroll;
   width: 100px;
  height: 100px;
}

#block11{
    background-color: chocolate;

}

#block12{
    background-color: deeppink;

}

.wrapper{
    display: flex;
   /* justify-content: flex-end; pozitioneaza la sfarsitul liniiei*/
   /* justify-content: center; il pune la mijloc*/
  /* justify-content: space-between; le aranjeaza una langa alta dar foloseste tot randul pentru asta*/
    
}
