.page-title h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 3.375px;
    text-transform: uppercase;
}

.page-title h2 > span {
    padding-right: 10px;
    font-weight: 700;
    opacity: 0.25;
}

.two-column {
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}

.two-column .crew-description {
    justify-content: space-around;
}

.two-column .crew-description .crew-details h3 {
    font-family: 'Bellefair' , sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    opacity: 0.5;
}

.two-column .crew-description .crew-details h2 {
    font-family: 'Bellefair' , sans-serif;
    font-size: 56px;
    text-transform: uppercase;
}

.two-column .crew-description .crew-details p {
    color: #D0D6F9;
    width: 444px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px; /* 177.778% */
}

.two-column .crew-description .navigation-bar{
    margin-bottom: 40px;
}

.two-column .crew-description .navigation-bar button{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 100%;
}

.two-column .crew-description .navigation-bar #page1 {
    background-color: white;
}

.two-column .crew-description .navigation-bar button:hover{
    cursor: pointer;
}

/* for tablet */ 
@media (min-width: 768px) and (max-width: 1023px) {

    .two-column {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .page-title h2{
        margin: 0 50px;
    }

    .two-column .crew-description .crew-details {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .two-column .crew-description .crew-details h3 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .two-column .crew-description .crew-details h2 {
        font-size: 40px;
        margin-top: 20px;
    }
    
    .two-column .crew-description .crew-details p {
        width: 444px;
        font-size: 16px;
        margin-top: 20px;
    }

    .two-column .crew-description .navigation-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: 15px;
    }

    .two-column .members-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .two-column .members-photo img{
        width: 456px;
    }

}

/* for phone */
@media (max-width: 767px) {

    .two-column {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0%;
    }

   .page-title h2{
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .two-column .crew-description .crew-details {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .two-column .crew-description .crew-details h3 {
        font-size: 16px;
        margin-top: 20px;
    }
    
    .two-column .crew-description .crew-details h2 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    .two-column .crew-description .crew-details p {
        width: 347px;
        line-height: 1.8;
        font-size: 15px;
        margin-top: 20px;
    }

    .two-column .crew-description .navigation-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: 15px;
    }

    .two-column .members-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .two-column .members-photo img{
        width: 327px;
    }
}