.page-title h2{
    margin-left: 200px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 3.375px;
    text-transform: uppercase;
}

.page-title h2 > span {
    padding-right: 10px;
    font-weight: 700;
    opacity: 0.25;
}

.two-column {
    margin-right: 170px;
}

.two-column .planet-container img {
   margin: 80px;
}

.two-column .destination-container {
    margin-left: 100px;
    justify-content: space-between;
}

.two-column .destination-container #secondary-nav-bar ul > li {
    list-style-type: none;
    margin-right: 20px;
}

.two-column .destination-container #secondary-nav-bar ul > li > a {
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
    text-decoration: none;
}

.two-column .destination-container .name h1{
    font-family: 'Bellefair', sans-serif;
    font-size: 100px;
    text-transform: uppercase;
}

.two-column .destination-container .destination p {
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px;
}

.two-column .destination-container .more-details {
    padding-bottom: 50px;
}

.two-column .destination-container .more-details .horizontal-line {
    border: 1px solid white;
    opacity: 0.3;
}

.two-column .destination-container .more-details .travel-states-container .travel-distance-time {
    margin-right: 45px;
}

.two-column .destination-container .more-details .travel-states-container .travel-distance-time h5{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.362px;
    text-transform: uppercase;
    margin-right: 30px;
    margin-top: 15px;
}

.two-column .destination-container .more-details .travel-states-container .travel-distance-time p {
    color: #FFF;
    font-family: 'Bellefair';
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 10px;
}

/* for tablet */ 
@media (min-width: 768px) and (max-width: 1023px) {
    
    .two-column {
        flex-direction: column;
        margin: 0;
    }

    .two-column .planet-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-title h2{
        margin: 50px;
    }

    .two-column .planet-container img {
        margin: 0px;
        width: 300px;
        height: 300px;
    }

    .two-column .destination-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 70px 0;
    }
    
    .two-column .destination-container .name h1{
        margin-top: 20px;
        font-size: 80px;
    }
    
    .two-column .destination-container .destination p {
        margin: 50px 100px;
        font-size: 16px;
    }


    .two-column .destination-container .more-details .travel-states-container div:nth-child(2) {
        margin: 0%;
    }
}

/* for phone */
@media (max-width: 767px) {

    .two-column {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .two-column .planet-container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-title h2{
        margin: 20px;
    }

    .two-column .planet-container img {
        margin: 40px;
        width: 170px;
        height: 170px;
    }

    .two-column .destination-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 70px 0;
    }
    
    .two-column .destination-container .name h1{
        margin-top: 20px;
        font-size: 56px;
    }
    
    .two-column .destination-container .destination p {
        margin: 20px 20px;
        font-size: 15px;
    }

    .two-column .destination-container .more-details {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;
    }

    .two-column .destination-container .more-details .travel-states-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .two-column .destination-container .more-details .travel-states-container div {
        margin: 0%;
    }
}


