.two-column {
    margin: 200px 200px 30px 200px;
    justify-content: space-between;
    /* background-color: red; */
}

.two-column .text-container {
    justify-content: space-between;
}

.two-column .text-container h3 , .two-column .text-container p {
    color: #D0D6F9;
}

.two-column .text-container h1 {
    font-family: 'Bellefair' , sans-serif;
    font-size: 150px;
    line-height: normal;
}

.two-column .text-container h3 {
    font-family: 'Barlow Condensed' , sans-serif;
    font-size: 28px;
    line-height: normal;
    letter-spacing: 4.725px;
}


.two-column .text-container p{
    width: 400px;
    line-height: 32px;
    font-family: 'Barlow' , sans-serif;
}

.two-column .btn-container {
    margin-top: 50px;
}

.two-column .btn-container #main-btn {
    width: 274px;
    height: 274px;
    border-radius: 274px;
    color: #0B0D17;
    border: none;
    font-family: 'Bellefair';
    font-size: 32px;
    letter-spacing: 2px;
}

.two-column .btn-container #main-btn:hover {
    cursor: pointer;   
    /* box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s; */
}

/* for tablet */ 
@media (min-width: 768px) and (max-width: 1023px) {

    .two-column {
        flex-direction: column;
        margin: 100px 0;
    }

    .two-column .text-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .two-column .text-container h1 {
        font-size: 150px;
    }
    
    .two-column .text-container h3 {
        font-size: 20px;
    }
    
    
    .two-column .text-container p{
        font-size: 16px;
    }

    .two-column .btn-container #main-btn {
        width: 242px;
        height: 242px;
    }
}

/* for phone */
@media (max-width: 767px) {

    .two-column {
        flex-direction: column;
        margin: 50px 20px;
    }

    .two-column .text-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .two-column .text-container h1 {
        font-size: 80px;
    }
    
    .two-column .text-container h3 {
        font-size: 16px;
    }
    
    
    .two-column .text-container p{
        font-size: 15px;
    }

    .two-column .btn-container #main-btn {
        width: 150px;
        height: 150px;
        font-size: 20px;
    }

}