.page-title h2{
    margin-left: 200px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 3.375px;
    text-transform: uppercase;
}

.page-title h2 > span {
    padding-right: 10px;
    font-weight: 700;
    opacity: 0.25;
}

.three-column {
    margin-left: 200px;
    justify-content: space-between;
}

.three-column .two-column{
   align-items: center;
   justify-content: center;
}

.three-column .two-column .secondary-buttons-nav{
    margin-top: 50px;
}

.three-column .two-column .secondary-buttons-nav button {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid grey;
    color: white;
    background-color: transparent;
    font-family: 'Bellefair' , sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px;
}

.three-column .two-column .secondary-buttons-nav #button1 {
    color: black;
    background-color: white;
}

.three-column .two-column .secondary-buttons-nav button:hover {
    cursor: pointer;
}

.three-column .two-column .vehicle-details p{
    color: #D0D6F9;
    font-family: 'Barlow Condensed' , sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
}

.three-column .two-column .vehicle-details h3 {
    font-family: 'Bellefair' , sans-serif;
    font-size: 56px;
    text-transform: uppercase;
}

.three-column .two-column .vehicle-details #vehicle-description{
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 32px; /* 177.778% */
}

/* for tablet */ 
@media (min-width: 768px) and (max-width: 1023px) {

    .page-title h2 {
        margin-left: 70px;
    }

    .three-column {
        flex-direction: column-reverse;
        margin: 0;
    }


    .three-column .two-column {
        flex-direction: column;
    }

    .three-column .two-column .secondary-buttons-nav{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .three-column .two-column .secondary-buttons-nav button {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }
    
    .three-column .two-column .vehicle-details h3 {
        margin-top: 25px;
        font-size: 40px;
    }

    .three-column .two-column .vehicle-details {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 0 40px 40px 40px;
    }

    .three-column .vehicle-image img {
        margin-top: 50px;
        width: 768px;
        height: 310px;     
    }
}

/* for phone */
@media (max-width: 767px) {

    .page-title h2 {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .three-column {
        flex-direction: column-reverse;
        margin: 0%;
    }

    .three-column .two-column {
        flex-direction: column;
    }

    .three-column .two-column .secondary-buttons-nav{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .three-column .two-column .secondary-buttons-nav button {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .three-column .two-column .vehicle-details {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin: 0 20px 50px 20px;

    }

    .three-column .two-column .vehicle-details p{
        margin-top: 10px;
        font-size: 15px;
    }
    
    .three-column .two-column .vehicle-details h3 {
        margin-top: 10px;
        font-size: 24px;
    }

    .three-column .vehicle-image img {
        margin-top: 20px;
        width: 389px;
        height: 200px;
    }
}