body {
    background-color: #202630;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.advice-slip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice-slip .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 540px ;
    height: 335px ;
    border-radius: 20px ;
    background-color: #373f4dcb;
    color: #D9D9D9;
}

.advice-slip .text-box .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #53FFAB;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.14em;    
}

.advice-slip .text-box #text-change {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 38px;
    letter-spacing: 0em;
    margin-bottom: 20px;
    padding: 15px;
}

.advice-slip .text-box .horizontal-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin-top: 221px;
}

.advice-slip .text-box .horizontal-lines .line-left, .advice-slip .text-box .horizontal-lines .line-right {
    border: 1px solid white;
    background-color: white;
    opacity: 0.3;
    width: 200px;
    height: 0px;
    margin: 7px;
}

.advice-slip .text-box .horizontal-lines .breakpoint-lines {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.advice-slip .text-box .horizontal-lines .breakpoint-lines .breakpoint-lines-left ,.advice-slip .text-box .horizontal-lines .breakpoint-lines .breakpoint-lines-right {
    border: 1px solid white;
    margin: 2px;
    width: 1px;
    height: 11px;
    border-radius: 10px;
    background: white;
}


.advice-slip .text-box .dice {
    position: absolute;
    margin-top: 336px;
}

.advice-slip .text-box .dice .button-dice{
    background-color: #53FFAB;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.advice-slip .text-box .dice .button-dice:hover {
    background-color: #53FFAB;
    opacity: 0.7;
}

